a:hover,

.aboutME {
    margin-top: 1.0em;
    line-height: 1.5em;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    width: 100%
}
body {
    color:royalblue;
    font-size: medium;
    font-family:Arial;
    line-height: 1.5;
    background-color: salmon;
}
p{
    color:red;
    font-size: 19px;
    width:100%;
    font-family: Verdana;
    text-align: left;
}
blockquote{
    background: lightgreen;
    color: darkgreen;
    font-size: 15px;
    font-family: monospace;
    border-top: slategray;
    border-bottom: slategray;
    border-width: 5px;
    padding: auto;
  }

#characters{color: rgb(162, 0, 255);}

.name{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}

body{
    color:rgba(65%, 255, 255, 0.7);
}

h1{
    color:tomato;
    background-image: linear-gradient(black, blue);
    text-align: center;
    min-width: 600px;
    background: -webkit-linear-gradient(rgb(247, 136, 9), rgb(243, 239, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: dotted;
    border-width: thick;
    border-color: blue;
}